<a href="https://colab.research.google.com/github/ajit-ai/Python/blob/main/PySparkDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

# Verify the SparkContext
sc = spark.sparkContext
print(sc.version)  # Should print the Spark version

3.5.1

In [1]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [["1", "sravan", "vignan"], ["2", "ojaswi", "vvit"],
        ["3", "rohith", "vvit"], ["4", "sridevi", "vignan"],
        ["1", "sravan", "vignan"], ["5", "gnanesh", "iit"]]

# specify column names
columns = ['student ID', 'student NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

print("Actual data in dataframe")
# show dataframe
dataframe.show()

Actual data in dataframe
+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [2]:
# select column with column name
dataframe.select('student ID').show()

+----------+
|student ID|
+----------+
|         1|
|         2|
|         3|
|         4|
|         1|
|         5|
+----------+

In [3]:
# select multiple column with column name
dataframe.select(['student ID', 'student NAME', 'college']).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [4]:
# select column with column number 1
dataframe.select(dataframe.columns[1]).show()

+------------+
|student NAME|
+------------+
|      sravan|
|      ojaswi|
|      rohith|
|     sridevi|
|      sravan|
|     gnanesh|
+------------+

In [5]:
# prompt: select column all in  df

dataframe.select(*dataframe.columns).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [6]:
# select column with column number slice
# operator
dataframe.select(dataframe.columns[0:3]).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", rtrim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", trim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using select to remove white spaces
df = df.select(col("col1"), trim(col("col2")).alias("col2"))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using SQL Expression to remove white spaces
df.createOrReplaceTempView("TAB")
spark.sql("SELECT col1, TRIM(col2) AS col2 FROM TAB").show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim

# Create a Spark session if one does not exist
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.show()


# using withColumn and trim()
df.withColumn("col2", trim("col2")).show()

# using ltrim()
df.withColumn("col2", ltrim("col2")).show()

# using rtrim()
df.withColumn("col2", rtrim("col2")).show()

# Using select
df.select("col1", trim("col2").alias('col2')).show()

# Using SQL Expression
df.createOrReplaceTempView("TAB")
spark.sql("select col1,trim(col2) as col2 from TAB").show()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+-------+
|col1|   col2|
+----+-------+
|   1|ABC    |
|   2|    DEF|
|   3|GHI    |
+----+-------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [12]:
# importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Substring.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):

    df1 = spark.createDataFrame(data, schema)
    return df1

if __name__ == "__main__":

    input_data = [("India", +91, 2701, 2020),
                  ("United States of America", +1, 1301, 2020),
                  ("Israel", +972, 3102, 2020),
                  ("Dubai", +971, 2901, 2020),
                  ("Russia", 7, 3101, 2020)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code",
              "Data", "Year"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)
    df.show()

+--------------------+------------+----+----+
|             Country|Country Code|Data|Year|
+--------------------+------------+----+----+
|               India|          91|2701|2020|
|United States of ...|           1|1301|2020|
|              Israel|         972|3102|2020|
|               Dubai|         971|2901|2020|
|              Russia|           7|3101|2020|
+--------------------+------------+----+----+

In [42]:
if __name__ == "__main__":
    input_data = [("India", +91, 2701, 2020),
                  ("United States of America", +1, 1301, 2020),
                  ("Israel", +972, 3102, 2020),
                  ("Dubai", +971, 2901, 2020),
                  ("Russia", 7, 3101, 2020)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code",
              "Data", "Year"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)

    # creating Month column and get the
    # substring from the Data column
    # creating Date column and get the
    # substring from the Data column
    df = df.withColumn(
      "Month", substring("Data", 1, 2)).withColumn(
      "Date", substring("Data", 3, 4))

    # dropping the Data column from the
    # Dataframe
    df = df.drop("Data")

    # printing Dataframe schema to get the
    # column names
    df.printSchema()

    # visualizing the dataframe
    df.show(truncate=False)

root
 |-- Country: string (nullable = true)
 |-- Country Code: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: string (nullable = true)
 |-- Date: string (nullable = true)

+------------------------+------------+----+-----+----+
|Country                 |Country Code|Year|Month|Date|
+------------------------+------------+----+-----+----+
|India                   |91          |2020|27   |01  |
|United States of America|1           |2020|13   |01  |
|Israel                  |972         |2020|31   |02  |
|Dubai                   |971         |2020|29   |01  |
|Russia                  |7           |2020|31   |01  |
+------------------------+------------+----+-----+----+

In [43]:
if __name__ == "__main__":

    # Creating the new column New_Country
    # and store the substring using substr()
    df = df.withColumn("New_Country", df.Country.substr(0, 12))

    # printing Dataframe schema to get the
    # column names
    df.printSchema()

    # visualizing the dataframe
    df.show(truncate=False)

root
 |-- Country: string (nullable = true)
 |-- Country Code: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- New_Country: string (nullable = true)

+------------------------+------------+----+-----+----+------------+
|Country                 |Country Code|Year|Month|Date|New_Country |
+------------------------+------------+----+-----+----+------------+
|India                   |91          |2020|27   |01  |India       |
|United States of America|1           |2020|13   |01  |United State|
|Israel                  |972         |2020|31   |02  |Israel      |
|Dubai                   |971         |2020|29   |01  |Dubai       |
|Russia                  |7           |2020|31   |01  |Russia      |
+------------------------+------------+----+-----+----+------------+

In [44]:
if __name__ == "__main__":

    input_data = [("India", +91, "AidanButler"),
                  ("United States of America", +1, "ConerFlores"),
                  ("Israel", +972, "RosseBryant"),
                  ("Dubai", +971, "JuliaSimmon"),
                  ("Russia", 7, "AliceBailey")]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code", "Name"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)

    # Selecting the column using selectExpr()
    # function and getting substring using substring()
    df2 = df.selectExpr('Name', 'substring(Name, 1,5) as First_Name',
                        'substring(Name, 6,6) as Last_Name')

    # printing Dataframe schema to get the column names
    df2.printSchema()

    # visualizing the dataframe
    df2.show(truncate=False)

root
 |-- Name: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)

+-----------+----------+---------+
|Name       |First_Name|Last_Name|
+-----------+----------+---------+
|AidanButler|Aidan     |Butler   |
|ConerFlores|Coner     |Flores   |
|RosseBryant|Rosse     |Bryant   |
|JuliaSimmon|Julia     |Simmon   |
|AliceBailey|Alice     |Bailey   |
+-----------+----------+---------+

In [13]:
# importing module
import pyspark

# importing sparksession from
# pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving
# app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# giving rows value for dataframe
data = [("Ram", "MCA", 80),
        ("Riya", "MBA", 85),
        ("Jiya", "B.E", 60),
        ("Maria", "B.Tech", 65),
        ("Shreya", "B.sc", 91),
        ("Ram", "MCA", 80),
        ("John", "M.E", 85),
        ("Shyam", "BA", 70),
        ("Kumar", "B.sc", 78),
        ("Maria", "B.Tech", 65)]

# giving column names of dataframe
columns = ["Name", "Course", "Marks"]

# creating a dataframe df
df = spark.createDataFrame(data, columns)

# show df
df.show()

# counting the total number of values
# in df
print("Total number of records in df:", df.count())

+------+------+-----+
|  Name|Course|Marks|
+------+------+-----+
|   Ram|   MCA|   80|
|  Riya|   MBA|   85|
|  Jiya|   B.E|   60|
| Maria|B.Tech|   65|
|Shreya|  B.sc|   91|
|   Ram|   MCA|   80|
|  John|   M.E|   85|
| Shyam|    BA|   70|
| Kumar|  B.sc|   78|
| Maria|B.Tech|   65|
+------+------+-----+

Total number of records in df: 10

In [14]:
# applying distinct().count() on df
print('Distinct count in DataFrame df is :', df.distinct().count())

Distinct count in DataFrame df is : 8

In [15]:
# importing sparksession from
# pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving
# app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# giving rows value for dataframe
data = [("Ram", "IT", 80000),
        ("Shyam", "Sales", 70000),
        ("Jiya", "Sales", 60000),
        ("Maria", "Accounts", 65000),
        ("Ramesh", "IT", 80000),
        ("John", "Management", 80000),
        ("Shyam", "Sales", 70000),
        ("Kumar", "Sales", 78000),
        ("Maria", "Accounts", 65000)]

# giving column names of dataframe
columns = ["Emp_name", "Depart", "Salary"]

# creating a dataframe df
df = spark.createDataFrame(data, columns)

# show df
df.show()

# counting the total number of values in df
print("Total number of records in df:", df.count())

+--------+----------+------+
|Emp_name|    Depart|Salary|
+--------+----------+------+
|     Ram|        IT| 80000|
|   Shyam|     Sales| 70000|
|    Jiya|     Sales| 60000|
|   Maria|  Accounts| 65000|
|  Ramesh|        IT| 80000|
|    John|Management| 80000|
|   Shyam|     Sales| 70000|
|   Kumar|     Sales| 78000|
|   Maria|  Accounts| 65000|
+--------+----------+------+

Total number of records in df: 9

In [16]:
# importing countDistinct from
# pyspark.sql.functions
from pyspark.sql.functions import countDistinct

# applying the function countDistinct()
# on df using select()
df2 = df.select(countDistinct("Emp_name", "Depart", "Salary"))

# show df2
df2.show()

+----------------------------------------+
|count(DISTINCT Emp_name, Depart, Salary)|
+----------------------------------------+
|                                       7|
+----------------------------------------+

In [17]:
# importing countDistinct from
# pyspark.sql.functions
from pyspark.sql.functions import countDistinct

# applying the function countDistinct()
# on df using select()
df3 = df.select(countDistinct("Depart"))

# show df2
df3.show()

+----------------------+
|count(DISTINCT Depart)|
+----------------------+
|                     4|
+----------------------+

In [18]:
# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# giving rows value for dataframe
data = [("Ram", "IT", 44, 80000),
        ("Shyam", "Sales", 45, 70000),
        ("Jiya", "Sales", 30, 60000),
        ("Maria", "Accounts", 29, 65000),
        ("Ram", "IT", 38, 80000),
        ("John", "Management", 35, 80000),
        ("Shyam", "Sales", 45, 70000),
        ("Kumar", "Sales", 27, 70000),
        ("Maria", "Accounts", 32, 65000),
        ("Ria", "Management", 32, 65000)]

# giving column names of dataframe
columns = ["Emp_name", "Depart", "Age", "Salary"]

# creating a dataframe df
df = spark.createDataFrame(data, columns)

# show df
df.show()

# counting the total number of values in df
print("Total number of records in df:", df.count())

+--------+----------+---+------+
|Emp_name|    Depart|Age|Salary|
+--------+----------+---+------+
|     Ram|        IT| 44| 80000|
|   Shyam|     Sales| 45| 70000|
|    Jiya|     Sales| 30| 60000|
|   Maria|  Accounts| 29| 65000|
|     Ram|        IT| 38| 80000|
|    John|Management| 35| 80000|
|   Shyam|     Sales| 45| 70000|
|   Kumar|     Sales| 27| 70000|
|   Maria|  Accounts| 32| 65000|
|     Ria|Management| 32| 65000|
+--------+----------+---+------+

Total number of records in df: 10

In [19]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [["1", "sravan", "vignan"], ["2", "ojaswi", "vvit"],
        ["3", "rohith", "vvit"], ["4", "sridevi", "vignan"],
        ["1", "sravan", "vignan"], ["5", "gnanesh", "iit"]]

# specify column names
columns = ['student ID', 'student NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

print("Actual data in dataframe")
# show dataframe
dataframe.show()

Actual data in dataframe
+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [20]:
from pyspark.sql.functions import element_at, split, col

df = spark.createDataFrame([('a b c d',)], ['s',])

df.withColumn('arr', split(df.s, ' ')) \
  .select( col('arr')[0].alias('0th')
         , col('arr')[3].alias('3rd')
         , element_at(col('arr'), -1).alias('1st_from_end')
     ).show()

+---+---+------------+
|0th|3rd|1st_from_end|
+---+---+------------+
|  a|  d|           d|
+---+---+------------+

In [21]:
from pyspark.sql.functions import split
df = spark.createDataFrame([('a b c d',)], ['s',])
df.select(   split(df.s, ' ')[0].alias('0th'),
             split(df.s, ' ')[3].alias('3rd'),
             split(df.s, ' ')[-1].alias('1st_from_end')
         ).show()

+---+---+------------+
|0th|3rd|1st_from_end|
+---+---+------------+
|  a|  d|        NULL|
+---+---+------------+

In [22]:
from pyspark.sql.session import SparkSession
from pyspark.sql.types import StringType, StructField, StructType
from pyspark.sql.functions import split, size
from pyspark.sql import Column
spark = SparkSession.builder.getOrCreate()


data = [
    ('filename', 's3:/hello/no.csv'),
    ('filename', 's3:/hello/why.csv')
]
schema = StructType([
    StructField('name', StringType(), True),
    StructField('path', StringType(), True)
])
df = spark.createDataFrame(data, schema=schema)



def expression_last_item_of_array(split_column: str, split_delimeter: str) -> Column:
    """
        Given column name and delimeter, return expression
        for splitting string and returning last item of the array.

        Args:
            split_column: str
            split_delimeter: str

        Returns:
            pysaprk.sql.Column
    """
    expression = split(split_column, split_delimeter)
    n = size(expression)
    last = expression.getItem(n - 1)
    return last, n

last, n = expression_last_item_of_array('path', '/')
df.show(),
df.select(last.alias('last_element'), n.alias('n_items')).show(), df.select(last.alias('last_element')).show()

/usr/local/lib/python3.11/dist-packages/pyspark/sql/column.py:460: FutureWarning: A column as 'key' in getItem is deprecated as of Spark 3.0, and will not be supported in the future release. Use `column[key]` or `column.key` syntax instead.
  warnings.warn(

+--------+-----------------+
|    name|             path|
+--------+-----------------+
|filename| s3:/hello/no.csv|
|filename|s3:/hello/why.csv|
+--------+-----------------+

+------------+-------+
|last_element|n_items|
+------------+-------+
|      no.csv|      3|
|     why.csv|      3|
+------------+-------+

+------------+
|last_element|
+------------+
|      no.csv|
|     why.csv|
+------------+

(None, None)

In [23]:
# creating a temporary view of
# Dataframe and storing it into df2
df.createOrReplaceTempView("df2")

# using the SQL query to count all
# distinct records and display the
# count on the screen
spark.sql("select count(distinct(*)) from df2").show()

+--------------------------+
|count(DISTINCT name, path)|
+--------------------------+
|                         2|
+--------------------------+

In [24]:
# using the SQL query to count distinct
# records in 2 columns only display the
# count on the screen
spark.sql("select count(distinct(name, path)) from df2").show()

+----------------------------------------------------+
|count(DISTINCT named_struct(name, name, path, path))|
+----------------------------------------------------+
|                                                   2|
+----------------------------------------------------+

In [27]:
# select single and multiple columns
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql import SparkSession
#import findspark


#findspark.init('c:/spark')

# Initialize our data
data2 = [("Pulkit", 12, "CS32", 82, "Programming"),
         ("Ritika", 20, "CS32", 94, "Writing"),
         ("Atirikt", 4, "BB21", 78, None),
         ("Reshav", 18, None, 56, None)
         ]

# Start spark session
spark = SparkSession.builder.appName("Student_Info").getOrCreate()

# Define schema
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Roll Number", IntegerType(), True),
    StructField("Class ID", StringType(), True),
    StructField("Marks", IntegerType(), True),
    StructField("Extracurricular", StringType(), True)
])

# read the dataframe
df = spark.createDataFrame(data=data2, schema=schema)

# slelct columns
df.select("Name", "Marks").show()

# stop the session
# spark.stop() # Removed spark.stop()

+-------+-----+
|   Name|Marks|
+-------+-----+
| Pulkit|   82|
| Ritika|   94|
|Atirikt|   78|
| Reshav|   56|
+-------+-----+

In [ ]:
%pip install findspark

In [28]:
from pyspark.sql.functions import col

df.select(col("Name"),col("Marks")).show()

+-------+-----+
|   Name|Marks|
+-------+-----+
| Pulkit|   82|
| Ritika|   94|
|Atirikt|   78|
| Reshav|   56|
+-------+-----+

In [30]:
# select spark
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql import SparkSession
#import findspark


#findspark.init('c:/spark')

# Initialize our data
data2 = [("Pulkit", 12, "CS32", 82, "Programming"),
         ("Ritika", 20, "CS32", 94, "Writing"),
         ("Atirikt", 4, "BB21", 78, None),
         ("Reshav", 18, None, 56, None)
         ]

# Start spark session
spark = SparkSession.builder.appName("Student_Info").getOrCreate()

# Define schema
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Roll Number", IntegerType(), True),
    StructField("Class ID", StringType(), True),
    StructField("Marks", IntegerType(), True),
    StructField("Extracurricular", StringType(), True)
])

# read the dataframe
df = spark.createDataFrame(data=data2, schema=schema)

# select the columns
df.select(df.columns[:4]).show()

# stop session
spark.stop()

+-------+-----------+--------+-----+
|   Name|Roll Number|Class ID|Marks|
+-------+-----------+--------+-----+
| Pulkit|         12|    CS32|   82|
| Ritika|         20|    CS32|   94|
|Atirikt|          4|    BB21|   78|
| Reshav|         18|    NULL|   56|
+-------+-----------+--------+-----+

In [31]:
# findspark
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql import SparkSession
#import findspark


#findspark.init('c:/spark')

# initialize the data
data = [
    (("Pulkit", "Dhingra"), 12, "CS32", 82, "Programming"),
    (("Ritika", "Pandey"), 20, "CS32", 94, "Writing"),
    (("Atirikt", "Sans"), 4, "BB21", 78, None),
    (("Reshav", None), 18, None, 56, None)
]

# start spark session
spark = SparkSession.builder.appName("Student_Info").getOrCreate()

# initialize the schema of the data
schema = StructType([
    StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('lastname', StringType(), True)
    ])),
    StructField("Roll Number", IntegerType(), True),
    StructField("Class ID", StringType(), True),
    StructField("Marks", IntegerType(), True),
    StructField("Extracurricular", StringType(), True)
])
# create a dataframe
df2 = spark.createDataFrame(data=data, schema=schema)

# display the schema
df2.printSchema()

# select operation
df2.select("name.firstname", "name.lastname").show(truncate=False)

# stop session
spark.stop()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- Roll Number: integer (nullable = true)
 |-- Class ID: string (nullable = true)
 |-- Marks: integer (nullable = true)
 |-- Extracurricular: string (nullable = true)

+---------+--------+
|firstname|lastname|
+---------+--------+
|Pulkit   |Dhingra |
|Ritika   |Pandey  |
|Atirikt  |Sans    |
|Reshav   |NULL    |
+---------+--------+

In [32]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [["1", "sravan", "vignan"], ["2", "ojaswi", "vvit"],
        ["3", "rohith", "vvit"], ["4", "sridevi", "vignan"],
        ["1", "sravan", "vignan"], ["5", "gnanesh", "iit"]]

# specify column names
columns = ['student ID', 'student NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

print("Actual data in dataframe")
# show dataframe
dataframe.show()

Actual data in dataframe
+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [33]:
# select column with column name
dataframe.select('student ID').show()

+----------+
|student ID|
+----------+
|         1|
|         2|
|         3|
|         4|
|         1|
|         5|
+----------+

In [34]:
# select multiple column with column name
dataframe.select(['student ID', 'student NAME', 'college']).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [35]:
# select column with column number 1
dataframe.select(dataframe.columns[1]).show()

+------------+
|student NAME|
+------------+
|      sravan|
|      ojaswi|
|      rohith|
|     sridevi|
|      sravan|
|     gnanesh|
+------------+

In [36]:
# select column with column number slice
# operator
dataframe.select(dataframe.columns[0:3]).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [37]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import current_date,year

from pyspark.sql.types import IntegerType,StructType,StructField,StringType

from datetime import datetime, date

from pyspark import SparkContext

sc=SparkContext.getOrCreate()

rdd=sc.parallelize([('ram','chi'),

             ('anil','ind')])

df=spark.createDataFrame(rdd,schema=StructType([StructField("name",StringType(),True),StructField("loc",StringType(),True)]))



#Trying to see the data but face below error:

df.show()

+----+---+
|name|loc|
+----+---+
| ram|chi|
|anil|ind|
+----+---+

In [38]:
from pyspark.sql import SparkSession

# Initialize Spark session with additional configurations
spark = SparkSession.builder \
    .appName("PySpark Demo Fix") \
    .config("spark.driver.memory", "2g") \
    .config("spark.sql.legacy.createHiveTableByDefault", "false") \
    .getOrCreate()

# Sample data
data = [("Alice", 25), ("Bob", 30), ("Cathy", 28)]
columns = ["Name", "Age"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Perform a transformation and show results
try:
    print("Attempting to display DataFrame...")
    df.show()
except Exception as e:
    print(f"Error in df.show(): {str(e)}")

# Stop the Spark session
spark.stop()

Attempting to display DataFrame...
+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 30|
|Cathy| 28|
+-----+---+

In [45]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

# Initialize Spark session
spark = SparkSession.builder.appName("PivotExample").getOrCreate()

# Sample data
data = [
    ('2024-01-01', 'ProductA', 10),
    ('2024-01-01', 'ProductB', 20),
    ('2024-01-02', 'ProductA', 30),
    ('2024-01-02', 'ProductB', 40),
]

# Create DataFrame
df = spark.createDataFrame(data, ['date', 'product', 'sales'])

df.show()

# Pivot DataFrame
pivot_df = df.groupBy('date').pivot('product').agg(sum('sales'))

print("Dataframe after Pivot Operation")
pivot_df.show()

+----------+--------+-----+
|      date| product|sales|
+----------+--------+-----+
|2024-01-01|ProductA|   10|
|2024-01-01|ProductB|   20|
|2024-01-02|ProductA|   30|
|2024-01-02|ProductB|   40|
+----------+--------+-----+

Dataframe after Pivot Operation
+----------+--------+--------+
|      date|ProductA|ProductB|
+----------+--------+--------+
|2024-01-02|      30|      40|
|2024-01-01|      10|      20|
+----------+--------+--------+

In [46]:
# importing necessary libraries
from pyspark.sql import SparkSession


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Product_details.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):
    df1 = spark.createDataFrame(data, schema)
    return df1


if __name__ == "__main__":

    input_data = [("Uttar Pradesh", 122000, 89600, 12238),
                  ("Maharashtra", 454000, 380000, 67985),
                  ("Tamil Nadu", 115000, 102000, 13933),
                  ("Karnataka", 147000, 111000, 15306),
                  ("Kerala", 153000, 124000, 5259)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["State", "Cases", "Recovered", "Deaths"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)

    # visualizing the dataframe
    df.show()

+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [47]:
# getting the list of column names
col = df.columns

# printing
print(f'List of column names: {col}')

# visualizing the dataframe
df.show()

List of column names: ['State', 'Cases', 'Recovered', 'Deaths']
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [48]:
# getting the list of StructFields
field = df.schema.fields

# using for loop to iterate and enumerate
# for indexing or numbering
for count, col_name in enumerate(field, 1):

    # printing the column names
    print(count, "-", col_name.name)

    # visualizing the dataframe
    df.show()

1 - State
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

2 - Cases
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

3 - Recovered
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

4 - Deaths
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [49]:
# printing Dataframe schema to
# get the column names
df.printSchema()

# visualizing the dataframe
df.show()

root
 |-- State: string (nullable = true)
 |-- Cases: long (nullable = true)
 |-- Recovered: long (nullable = true)
 |-- Deaths: long (nullable = true)

+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+