<a href="https://colab.research.google.com/github/ajit-ai/Python/blob/main/PySparkDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [["1", "sravan", "vignan"], ["2", "ojaswi", "vvit"],
        ["3", "rohith", "vvit"], ["4", "sridevi", "vignan"],
        ["1", "sravan", "vignan"], ["5", "gnanesh", "iit"]]

# specify column names
columns = ['student ID', 'student NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

print("Actual data in dataframe")
# show dataframe
dataframe.show()

Actual data in dataframe
+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [2]:
# select column with column name
dataframe.select('student ID').show()

+----------+
|student ID|
+----------+
|         1|
|         2|
|         3|
|         4|
|         1|
|         5|
+----------+

In [3]:
# select multiple column with column name
dataframe.select(['student ID', 'student NAME', 'college']).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [4]:
# select column with column number 1
dataframe.select(dataframe.columns[1]).show()

+------------+
|student NAME|
+------------+
|      sravan|
|      ojaswi|
|      rohith|
|     sridevi|
|      sravan|
|     gnanesh|
+------------+

In [5]:
# prompt: select column all in  df

dataframe.select(*dataframe.columns).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [6]:
# select column with column number slice
# operator
dataframe.select(dataframe.columns[0:3]).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", rtrim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", trim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using select to remove white spaces
df = df.select(col("col1"), trim(col("col2")).alias("col2"))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using SQL Expression to remove white spaces
df.createOrReplaceTempView("TAB")
spark.sql("SELECT col1, TRIM(col2) AS col2 FROM TAB").show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim

# Create a Spark session if one does not exist
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.show()


# using withColumn and trim()
df.withColumn("col2", trim("col2")).show()

# using ltrim()
df.withColumn("col2", ltrim("col2")).show()

# using rtrim()
df.withColumn("col2", rtrim("col2")).show()

# Using select
df.select("col1", trim("col2").alias('col2')).show()

# Using SQL Expression
df.createOrReplaceTempView("TAB")
spark.sql("select col1,trim(col2) as col2 from TAB").show()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+-------+
|col1|   col2|
+----+-------+
|   1|ABC    |
|   2|    DEF|
|   3|GHI    |
+----+-------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [13]:
# importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Substring.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):

    df1 = spark.createDataFrame(data, schema)
    return df1

if __name__ == "__main__":

    input_data = [("India", +91, 2701, 2020),
                  ("United States of America", +1, 1301, 2020),
                  ("Israel", +972, 3102, 2020),
                  ("Dubai", +971, 2901, 2020),
                  ("Russia", 7, 3101, 2020)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code",
              "Data", "Year"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)
    df.show()

+--------------------+------------+----+----+
|             Country|Country Code|Data|Year|
+--------------------+------------+----+----+
|               India|          91|2701|2020|
|United States of ...|           1|1301|2020|
|              Israel|         972|3102|2020|
|               Dubai|         971|2901|2020|
|              Russia|           7|3101|2020|
+--------------------+------------+----+----+