In [73]:
print("Hello, World!")

Hello, World!

In [74]:
import sys

print(sys.version)

3.12.4 (tags/v3.12.4:8e8a4ba, Jun  6 2024, 19:30:16) [MSC v.1940 64 bit (AMD64)]

In [75]:
if 5 > 2:
  print("Five is greater than two!")
else:
    # comment: This is an else block
    print("Five is not greater than two!")

Five is greater than two!

In [76]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two again!")

Five is greater than two!
Five is greater than two again!

In [77]:
if 5 > 2:
 print("Five is greater than two!")
 print("Five is greater than two again!")

Five is greater than two!
Five is greater than two again!

In [1]:
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

In [79]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
a = complex(3)  # a will be 3+0j
print(x, y, z, a)

3 3 3.0 (3+0j)

In [2]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [3]:
x, y, z = "Orange", "Banana", "Mango"
print(x)
print(y)
print(z)

Orange
Banana
Mango

In [4]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [5]:
fruits = ["apple", "banana", "mango"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [6]:
x = "Ajit is good"
print(x)

Ajit is good

In [7]:
x = "ajit"
y = "is"
z = "good"
print(x, y, z)
print(x + " " + y + " " + z)
print("" + x + " " + y + " " + z)
print(x + " " + y + " " + z + "!")

ajit is good
ajit is good
ajit is good
ajit is good!

In [8]:
x = "Python "
y = "is "
z = "good"
print(x + y + z)
print(x + "is" + z)

Python is good
Python isgood

In [ ]:
x = 5
y = 10
print("1. Addition: ", x + y)
print(x - y)
print(x * y)
print(x / y) 
print(x ** y)  # x raised to the power of y
print(x // y)  # floor division
print(x % y)   # modulus
print(x & y)   # bitwise AND
print(x | y)   # bitwise OR
print(x ^ y)   # bitwise XOR
print(x << 1)  # left shift
print(x >> 1)  # right shift
print(~x)      # bitwise NOT
print(x == y)  # equal to
print(x != y)  # not equal to
print(x > y)   # greater than
print(x < y)   # less than
print(x >= y)  # greater than or equal to
print(x <= y)  # less than or equal to
print(x and y)  # logical AND
print(x or y)   # logical OR
print(not x)     # logical NOT
print(x is y)   # identity operator
print(x is not y)  # identity operator
#print(x in y)   # membership operator
#print(x not in y)  # membership operator

1, Addition:  15
-5
50
0.5
9765625
0
5
0
15
15
10
2
-6
False
True
False
True
False
True
10
5
False
False
True

In [10]:


# --- Arithmetic Operations ---
def arithmetic_operations(a, b):
    print(f"Arithmetic Operations for a={a}, b={b}:")
    print(f"Addition (a + b): {a + b}")
    print(f"Subtraction (a - b): {a - b}")
    print(f"Multiplication (a * b): {a * b}")
    print(f"Division (a / b): {a / b}")
    print(f"Floor Division (a // b): {a // b}")
    print(f"Modulus (a % b): {a % b}")
    print(f"Exponentiation (a ** b): {a ** b}")
    print("-" * 30)

# --- Comparison Operations ---
def comparison_operations(a, b):
    print(f"Comparison Operations for a={a}, b={b}:")
    print(f"Equal (a == b): {a == b}")
    print(f"Not Equal (a != b): {a != b}")
    print(f"Greater Than (a > b): {a > b}")
    print(f"Less Than (a < b): {a < b}")
    print(f"Greater Than or Equal (a >= b): {a >= b}")
    print(f"Less Than or Equal (a <= b): {a <= b}")
    print("-" * 30)

# --- Logical Operations ---
def logical_operations(x, y):
    print(f"Logical Operations for x={x}, y={y}:")
    print(f"AND (x and y): {x and y}")
    print(f"OR (x or y): {x or y}")
    print(f"NOT (not x): {not x}")
    print("-" * 30)

# --- Assignment Operations ---
def assignment_operations():
    print("Assignment Operations:")
    x = 10
    print(f"Initial x: {x}")
    x += 5
    print(f"x += 5: {x}")
    x -= 3
    print(f"x -= 3: {x}")
    x *= 2
    print(f"x *= 2: {x}")
    x /= 4
    print(f"x /= 4: {x}")
    x //= 1
    print(f"x //= 1: {x}")
    x %= 3
    print(f"x %= 3: {x}")
    x **= 2
    print(f"x **= 2: {x}")
    print("-" * 30)

# --- Identity Operations ---
def identity_operations():
    print("Identity Operations:")
    list1 = [1, 2, 3]
    list2 = [1, 2, 3]
    list3 = list1
    print(f"list1 is list2: {list1 is list2}")
    print(f"list1 is list3: {list1 is list3}")
    print(f"list1 is not list2: {list1 is not list2}")
    print("-" * 30)

# Main execution block
if __name__ == "__main__":
    arithmetic_operations(10, 3)
    comparison_operations(15, 7)
    logical_operations(True, False)
    assignment_operations()
    identity_operations()

Arithmetic Operations for a=10, b=3:
Addition (a + b): 13
Subtraction (a - b): 7
Multiplication (a * b): 30
Division (a / b): 3.3333333333333335
Floor Division (a // b): 3
Modulus (a % b): 1
Exponentiation (a ** b): 1000
------------------------------
Comparison Operations for a=15, b=7:
Equal (a == b): False
Not Equal (a != b): True
Greater Than (a > b): True
Less Than (a < b): False
Greater Than or Equal (a >= b): True
Less Than or Equal (a <= b): False
------------------------------
Logical Operations for x=True, y=False:
AND (x and y): False
OR (x or y): True
NOT (not x): False
------------------------------
Assignment Operations:
Initial x: 10
x += 5: 15
x -= 3: 12
x *= 2: 24
x /= 4: 6.0
x //= 1: 6.0
x %= 3: 0.0
x **= 2: 0.0
------------------------------
Identity Operations:
list1 is list2: False
list1 is list3: True
list1 is not list2: True
------------------------------

In [89]:
x = 5
y = "India"
print(x, y)

5 India

In [90]:
x = "awesome"
y = "Ajit"

def myfunc():
  print("Python is " + x)
def ajit():
  print("Ajit is " + y)

myfunc()
ajit()

Python is awesome
Ajit is Ajit

In [91]:
x = "ajit"

def ajit():
  x = "kumar"
  print("Python is " + x)

ajit()

print("Python is " + x)

Python is kumar
Python is ajit

In [92]:
x = "Great Country"
print("India is a " + x)

def myfunc():
  global x
  x = "Powerfull Country"

myfunc()

print("India is a " + x)

India is a Great Country
India is a Powerfull Country

In [93]:
import sys

def main():
    number_of_inputs = int(input().strip())

    if number_of_inputs % 2 != 0:
        print("Weird")
    else:
        if 2 <= number_of_inputs <= 5:
            print("Not Weird")
        elif 6 <= number_of_inputs <= 20:
            print("Weird")
        else:
            print("Not Weird")
            

if __name__ == "__main__":
    main()

Not Weird

In [94]:
import sys

def main():
    number_of_inputs = int(input())
    
    if number_of_inputs % 2 != 0:
        print("Weird")
    else:
        if 2 <= number_of_inputs <= 5:
            print("Not Weird")
        elif 6 <= number_of_inputs <= 20:
            print("Weird")
        else:
            print("Not Weird")

if __name__ == "__main__":
    main()

Not Weird

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [6]:
x = 5
print(type(x))
print(isinstance(x, int))

x = "Hello World"	
print(x)

x = 20	
print(x)

x = 20.5
print(x)	
	
x = 1j	
print(x)
	
x = ["apple", "banana", "cherry"]	
print(x)	

x = ("apple", "banana", "cherry")	
print(x)
	
x = range(6)		
print(x)

x = {"name" : "John", "age" : 36}	
print(x)
	
x = {"apple", "banana", "cherry"}	
print(x)
	
x = frozenset({"apple", "banana", "cherry"})
print(x)	
	
x = True	
print(x)

x = b"Hello"
print(x)	
	
x = bytearray(5)	
print(x)	

x = memoryview(bytes(5))
print(x)
		
x = None
print(x)
print(type(x))

<class 'int'>
True
Hello World
20
20.5
1j
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 36}
{'cherry', 'apple', 'banana'}
frozenset({'cherry', 'apple', 'banana'})
True
b'Hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x00000252B73E2140>
None
<class 'NoneType'>

In [100]:
x = str("Hello World")	
print(x)

x = int(20)
print(x)
	
x = float(20.5)	
print(x)	

x = complex(1j)	
print(x)

x = list(("apple", "banana", "cherry"))	
print(x)	

x = tuple(("apple", "banana", "cherry"))
print(x)

x = range(6)	
print(x)	

x = dict(name="John", age=36)	
print(x)	

x = set(("apple", "banana", "cherry"))	
print(x)

x = frozenset(("apple", "banana", "cherry"))
print(x)
	
x = bool(5)	
print(x)

x = bytes(5)
print(x)	

x = bytearray(5)	
print(x)	

x = memoryview(bytes(5))	
print(x)

Hello World
20
20.5
1j
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 36}
{'banana', 'cherry', 'apple'}
frozenset({'banana', 'cherry', 'apple'})
True
b'\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x0000022C3F3B0040>

In [4]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

print('instance(x, int)')

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>
instance(x, int)
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [105]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [5]:
import random

print(random.randrange(1, 10))

3

In [10]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex


print(x)
print(y)
print(z)

#convert from int to float:
a = float(x)
print(a)

#convert from float to int:
b = int(y)
print(b)

#convert from int to complex:
c = complex(x)
print(c)

1
2.8
1j
1.0
2
(1+0j)

In [11]:
def factorial(n):
    # Base cases: factorial of 0 and 1 is 1
    if n == 0 or n == 1:
        return 1
    # Calculate factorial by multiplying numbers from 1 to n
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Read input
n = int(input())

# Calculate and print factorial
print(factorial(n))

24