In [1]:
from sqlalchemy import event
import pandas as pd
import sqlalchemy
import pymysql

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://" + \
                       "root" + ":" +\
                       "mysql" + "@" + "localhost" +
                       ":" + "3306" + "/" + "company" \
                       + "?" + "charset=utf8mb4")
# Choose your configuration in the above code.
# replace connection name, password ,database name by yours.

conn = engine.connect()

dict = {
    # data to insert into data frame
    'id': [1, 2, 3], 'name': ["geeks", "for", "geeks"]
}
# storing data in df variable, hence creating dataframe.
df = pd.DataFrame(dict)
print(df)
# inserting data into database
df.to_sql("table_gfg", conn, if_exists="replace")


@event.listens_for(engine, "before_cursor_execute")
def receive_before_cursor_execute(conn, 
 cursor, statement, params, context, executemany):
    if executemany:
        cursor.fast_executemany = True


df.to_sql("table_gfg", conn, index=False, if_exists="append")

   id   name
0   1  geeks
1   2    for
2   3  geeks

3

In [2]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\ajitj\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\ajitj\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ajitj\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)

In [3]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine

# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'password'
host = '127.0.0.1'
port = 3306
database = 'GeeksForGeeks'

# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )


if __name__ == '__main__':

    try:
      
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the 127.0.0.1 for user root created successfully.

In [5]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 419.4 kB/s eta 0:00:02
   ------------------ --------------------- 0.5/1.2 MB 419.4 kB/s eta 0:00:02
   ------------------ --------------------- 0.5/1.2 MB 419.4 kB/s eta 0:00:02
   ------------------ --------------------- 0.5/1.2 MB 419.4 kB/s eta 0:00:02
   --------------------------- ------------ 0.8/1.2 MB 385.5 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 474.6 kB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 515.3 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [6]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine

# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'password'
host = '127.0.0.1'
port = 5432
database = 'postgres'

# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )


if __name__ == '__main__':

    try:
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the 127.0.0.1 for user root created successfully.

In [8]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\ajitj\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pymysql

def mysqlconnect():
    # To connect MySQL database
    conn = pymysql.connect(
        host='localhost',
        user='root', 
        password = "mysql",
        db='company',  
        )
    
    cur = conn.cursor()
    cur.execute("select @@version")
    output = cur.fetchall()
    print(output)
    
    # To close the connection
    conn.close()

# Driver Code
if __name__ == "__main__" :
    mysqlconnect()

(('8.0.32',),)

In [13]:
import pymysql

def mysqlconnect():
    # To connect MySQL database
    conn = pymysql.connect(
        host='localhost',
        user='root', 
        password = "mysql",
        db='company',
        )
    
    cur = conn.cursor()
    
    # Create table if it does not exist
    cur.execute("""
        CREATE TABLE IF NOT EXISTS STUDENT (
            id INT PRIMARY KEY AUTO_INCREMENT,
            name VARCHAR(100),
            age INT
        )
    """)
    # Optionally, insert sample data if table is empty
    cur.execute("SELECT COUNT(*) FROM STUDENT")
    if cur.fetchone()[0] == 0:
        cur.execute("INSERT INTO STUDENT (name, age) VALUES ('Alice', 22), ('Bob', 23)")
        conn.commit()
    
    # Select query
    cur.execute("select * from STUDENT")
    output = cur.fetchall()
    
    for i in output:
        print(i)
    
    # To close the connection
    conn.close()

# Driver Code
if __name__ == "__main__" :
    mysqlconnect()

(1, 'Alice', 22)
(2, 'Bob', 23)

In [17]:
# Python program to connect
# to mysql database


import mysql.connector


# Connecting from the server
conn = mysql.connector.connect(user = 'root',
                               host = 'localhost',
                               password = 'mysql',
                               database = 'company')

print(conn)

# Disconnecting from the server
conn.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029589225D60>

In [21]:
# importing required library 
import mysql.connector 
  
# connecting to the database 
dataBase = mysql.connector.connect(
                     host = "localhost",
                     user = "root",
                     passwd = "mysql",
                     database = "geeks" ) 
  
# preparing a cursor object 
cursorObject = dataBase.cursor()
  
print("Displaying NAME and ROLL columns from the STUDENT table:")

# Create STUDENT table if it does not exist
cursorObject.execute("""
    CREATE TABLE IF NOT EXISTS STUDENT (
        ID INT PRIMARY KEY AUTO_INCREMENT,
        NAME VARCHAR(100),
        ROLL INT
    )
""")
# Optionally, insert sample data if table is empty
cursorObject.execute("SELECT COUNT(*) FROM STUDENT")
if cursorObject.fetchone()[0] == 0:
    cursorObject.execute("INSERT INTO STUDENT (NAME, ROLL) VALUES ('Alice', 101), ('Bob', 102)")
    dataBase.commit()

# selecting query
query = "SELECT NAME, ROLL FROM STUDENT"
cursorObject.execute(query)

myresult = cursorObject.fetchall()

for x in myresult:
    print(x)

# disconnecting from server
dataBase.close()

Displaying NAME and ROLL columns from the STUDENT table:
('Alice', 101)
('Bob', 102)

In [22]:
pip install mysql-connector-python-rf

Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 2.1 MB/s eta 0:00:06
     -- ------------------------------------- 0.8/11.9 MB 1.8 MB/s eta 0:00:07
     ---- ----------------------------------- 1.3/11.9 MB 1.8 MB/s eta 0:00:06
     ----- ---------------------------------- 1.6/11.9 MB 1.7 MB/s eta 0:00:07
     ------ --------------------------------- 1.8/11.9 MB 1.6 MB/s eta 0:00:07
     ------- -------------------------------- 2.4/11.9 MB 1.8 MB/s eta 0:00:06
     --------- ------------------------------ 2.9/11.9 MB 1.8 MB/s eta 0:00:05
     ---------- ----------------------------- 3.1/11.9 MB 1.8 MB/s eta 0:00:05
     ------------ --------------------------- 3.7/11.9 MB 1.8 MB/s eta 0:00:05
     ------------ --------------------------- 3.7/11.9 MB 1.8 MB/s eta 0:00:05
     ------------ --------------------------- 3.7/11.9 MB 1.8 MB/s eta 0:00:05
     -------------- ------------------------- 4.2/11.9 MB 1.6 MB/s eta 0:00:05
     -------------- ------------------------- 4.5/11.9 MB 1.6 MB/s eta 0:00:05
     --------------- ------------------------ 4.7/11.9 MB 1.6 MB/s eta 0:00:05
     ----------------- ---------------------- 5.2/11.9 MB 1.6 MB/s eta 0:00:05
     ------------------ --------------------- 5.5/11.9 MB 1.6 MB/s eta 0:00:05
     ------------------ --------------------- 5.5/11.9 MB 1.6 MB/s eta 0:00:05
     ------------------ --------------------- 5.5/11.9 MB 1.6 MB/s eta 0:00:05
     ------------------- -------------------- 5.8/11.9 MB 1.4 MB/s eta 0:00:05
     -------------------- ------------------- 6.0/11.9 MB 1.4 MB/s eta 0:00:05
     --------------------- ------------------ 6.3/11.9 MB 1.4 MB/s eta 0:00:05
     --------------------- ------------------ 6.6/11.9 MB 1.4 MB/s eta 0:00:04
     --------------------- ------------------ 6.6/11.9 MB 1.4 MB/s eta 0:00:04
     ---------------------- ----------------- 6.8/11.9 MB 1.4 MB/s eta 0:00:04
     ---------------------- ----------------- 6.8/11.9 MB 1.4 MB/s eta 0:00:04
     ----------------------- ---------------- 7.1/11.9 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 7.3/11.9 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 7.3/11.9 MB 1.3 MB/s eta 0:00:04
     ------------------------- -------------- 7.6/11.9 MB 1.3 MB/s eta 0:00:04
     -------------------------- ------------- 7.9/11.9 MB 1.3 MB/s eta 0:00:04
     --------------------------- ------------ 8.1/11.9 MB 1.3 MB/s eta 0:00:04
     ---------------------------- ----------- 8.4/11.9 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 8.9/11.9 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 8.9/11.9 MB 1.3 MB/s eta 0:00:03
     ------------------------------ --------- 9.2/11.9 MB 1.2 MB/s eta 0:00:03
     ------------------------------- -------- 9.4/11.9 MB 1.2 MB/s eta 0:00:02
     -------------------------------- ------- 9.7/11.9 MB 1.3 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 1.2 MB/s eta 0:00:02
     ---------------------------------- ----- 10.2/11.9 MB 1.2 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.2 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.2 MB/s eta 0:00:02
     ------------------------------------ --- 10.7/11.9 MB 1.2 MB/s eta 0:00:01
     ------------------------------------ --- 11.0/11.9 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 11.3/11.9 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 11.3/11.9 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py): started
  Building wheel for mysql-connector-python-rf (setup.py): finished with status 'done'
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp312-cp312-win_amd64.whl size=249467 sha256=67eb6f12785c95f8b942b6fb9b38784ecc4bdceda45d4c4a8f302d9aa7ff6558
  Stored in directory: c:\users\ajitj\appdata\local\pip\cache\wheels\a9\2b\d7\d900eb4840457595b799a5ba31c39c5f2a18c47967acf44a84
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: Building 'mysql-connector-python-rf' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql-connector-python-rf'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [23]:
# Python implementation to create a Database in MySQL
import mysql.connector

# connecting to the mysql server
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mysql"
)

# cursor object c
c = db.cursor()

# executing the create database statement
c.execute("CREATE DATABASE employee_db")

# fetching all the databases
c.execute("SHOW DATABASES")

# printing all the databases
for i in c:
    print(i)
c = db.cursor()

# finally closing the database connection
db.close()

('aiml',)
('ajit',)
('banking_core_service',)
('book',)
('bootdb',)
('captchaapp',)
('company',)
('cyber_db',)
('demo',)
('electronichealthrecord',)
('emp',)
('employee_db',)
('essentials_db',)
('geeks',)
('information_schema',)
('java2s',)
('java_to_dev_api_mysql',)
('java_to_dev_app_db',)
('jeejava',)
('little_lemon',)
('loizenaidb',)
('market',)
('mockito',)
('my_company',)
('mydatabase',)
('mydb',)
('mysql',)
('notes_app',)
('performance_schema',)
('school',)
('sparkdb',)
('spring-boot-otp-app',)
('springbatch',)
('springboot_mysql_example',)
('sys',)
('test',)
('test_db',)
('testdb',)
('testjwt',)
('users_database',)
('web_application',)
('world',)
('wv',)

In [24]:
# Python implementation to create a table in MySQL
import mysql.connector

# connecting to the mysql server

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mysql",
    database="employee_db"
)

# cursor object c
c = db.cursor()

# create statement for tblemployee
employeetbl_create = """CREATE TABLE `employee_db`.`tblemployee` (
  `empid` INT NOT NULL AUTO_INCREMENT,
  `empname` VARCHAR(45) NULL,
  `department` VARCHAR(45) NULL,
  `salary` INT NULL,
   PRIMARY KEY (`empid`))"""

c.execute(employeetbl_create)

c = db.cursor()

# fetch tblemployee details in the database
c.execute("desc tblemployee")

# print the table details
for i in c:
    print(i)


# finally closing the database connection
db.close()

('empid', 'int', 'NO', 'PRI', None, 'auto_increment')
('empname', 'varchar(45)', 'YES', '', None, '')
('department', 'varchar(45)', 'YES', '', None, '')
('salary', 'int', 'YES', '', None, '')

In [25]:
# Python implementation to insert data into a table in MySQL
import mysql.connector

# connecting to the mysql server

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mysql",
    database="employee_db"
)

# cursor object c
c = db.cursor()

# insert statement for tblemployee
# this statement will enable us to insert multiple rows at once.
employeetbl_insert = """INSERT INTO tblemployee (
   empname,
   department,
   salary) 
   VALUES  (%s, %s, %s)"""

# we save all the row data to be inserted in a data variable
data = [("Vani", "HR", "100000"),
        ("Krish", "Accounts", "60000"),
        ("Aishwarya", "Sales", "25000"),
        ("Govind", "Marketing", "40000")]

# execute the insert commands for all rows and commit to the database
c.executemany(employeetbl_insert, data)
db.commit()

# finally closing the database connection
db.close()

In [26]:
# Python implementation to fetch data from a table in MySQL
import mysql.connector

# connecting to the mysql server

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mysql",
    database="employee_db"
)

# cursor object c
c = db.cursor()

# select statement for tblemployee which returns all columns
employeetbl_select = """SELECT * FROM tblemployee"""

# execute the select query to fetch all rows
c.execute(employeetbl_select)

# fetch all the data returned by the database
employee_data = c.fetchall()

# print all the data returned by the database
for e in employee_data:
    print(e)

# finally closing the database connection
db.close()

(1, 'Vani', 'HR', 100000)
(2, 'Krish', 'Accounts', 60000)
(3, 'Aishwarya', 'Sales', 25000)
(4, 'Govind', 'Marketing', 40000)

In [28]:
# Python implementation to update data of a table in MySQL
import mysql.connector

# connecting to the mysql server

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mysql",
    database="employee_db"
)

# cursor object c
c = db.cursor()

# update statement for tblemployee
# which modifies the salary of Vani
employeetbl_update = "UPDATE tblemployee SET salary = 115000 WHERE empid = 1"

# execute the update query to modify
# the salary of employee with
# employee id = 1 and commit to the database
c.execute(employeetbl_update)
db.commit()

# finally closing the database connection
db.close()

In [29]:
import mysql.connector

# connecting to the mysql server

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mysql",
    database="employee_db"
)

# cursor object c
c = db.cursor()

# delete statement for tblemployee
# which deletes employee Aishwarya having empid 3
employeetbl_delete = "DELETE FROM tblemployee WHERE empid=3"

# execute the delete statement and commit to the database
c.execute(employeetbl_delete)
db.commit()

# finally closing the database connection
db.close()