In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [1]:
# Create a basic set
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

# Remove an element from the set
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3, 5, 6}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}

In [9]:
# Create a frozen set
my_frozen_set = frozenset({1, 2, 3, 4, 5})
print(my_frozen_set)  # Output: frozenset({1, 2, 3, 4, 5})

# Attempt to add an element to the frozen set
try:
    my_frozen_set.add(6)
except AttributeError:
    print("Frozen sets are immutable!")

frozenset({1, 2, 3, 4, 5})
Frozen sets are immutable!

In [10]:
# Create two sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union of two sets
union_set = set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5, 6}

# Intersection of two sets
intersection_set = set_a.intersection(set_b)
print(intersection_set)  # Output: {3, 4}

# Difference of two sets
difference_set = set_a.difference(set_b)
print(difference_set)  # Output: {1, 2}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [11]:
# Create a set using set comprehension
my_set = {x**2 for x in range(1, 6)}
print(my_set)  # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

1. Set Intersection with Multiple Sets
You can use the intersection method to find the common elements among multiple sets.

In [12]:
# Create three sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
set_c = {3, 4, 7, 8}

# Intersection of three sets
intersection_set = set_a.intersection(set_b, set_c)
print(intersection_set)  # Output: {3, 4}

{3, 4}

2. Set Union with Multiple Sets
You can use the union method to find the combined elements among multiple sets.

In [13]:
# Create three sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
set_c = {3, 4, 7, 8}

# Union of three sets
union_set = set_a.union(set_b, set_c)
print(union_set)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

3. Set Difference with Multiple Sets
You can use the difference method to find the elements that are in one set but not in multiple other sets.

In [14]:
# Create three sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
set_c = {3, 4, 7, 8}

# Difference of set_a and set_b, set_c
difference_set = set_a.difference(set_b, set_c)
print(difference_set)  # Output: {1, 2}

{1, 2}

4. Symmetric Difference of Sets
You can use the symmetric_difference method to find the elements that are in either of two sets, but not in their intersection.

In [15]:
# Create two sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Symmetric difference of set_a and set_b
symmetric_difference_set = set_a.symmetric_difference(set_b)
print(symmetric_difference_set)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

5. Set Operations with Other Data Structures
You can use sets with other data structures, such as lists and tuples.

In [16]:
# Create a list and a set
my_list = [1, 2, 2, 3, 4]
my_set = {3, 4, 5, 6}

# Convert the list to a set
my_list_set = set(my_list)
print(my_list_set)  # Output: {1, 2, 3, 4}

# Intersection of the set and the list-set
intersection_set = my_set.intersection(my_list_set)
print(intersection_set)  # Output: {3, 4}

{1, 2, 3, 4}
{3, 4}

6. Set Comprehension with Conditions
You can use set comprehensions with conditions to create sets based on certain criteria.

In [17]:
# Create a set using set comprehension with conditions
my_set = {x for x in range(1, 11) if x % 2 == 0}
print(my_set)  # Output: {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

7. Set Comprehension with Nested Loops
You can use set comprehensions with nested loops to create sets based on multiple iterables.

In [18]:
# Create a set using set comprehension with nested loops
my_set = {(x, y) for x in range(1, 3) for y in range(1, 3)}
print(my_set)  # Output: {(1, 1), (1, 2), (2, 1), (2, 2)}

{(1, 1), (1, 2), (2, 1), (2, 2)}