In [3]:
%pip install findspark

Requirement already satisfied: findspark in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import findspark
findspark.init()  # Automatically sets SPARK_HOME and initializes PySpark

from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

# Verify the SparkContext
sc = spark.sparkContext
print(sc.version)  # Should print the Spark version

3.5.6

In [20]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [["1", "sravan", "vignan"], ["2", "ojaswi", "vvit"],
        ["3", "rohith", "vvit"], ["4", "sridevi", "vignan"],
        ["1", "sravan", "vignan"], ["5", "gnanesh", "iit"]]

# specify column names
columns = ['student ID', 'student NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

print("Actual data in dataframe")
# show dataframe
dataframe.show()

Actual data in dataframe
+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [27]:
# select column with column name
dataframe.select('student ID').show()

+----------+
|student ID|
+----------+
|         1|
|         2|
|         3|
|         4|
|         1|
|         5|
+----------+

In [28]:
# select multiple column with column name
dataframe.select(['student ID', 'student NAME', 'college']).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [29]:
# select column with column number 1
dataframe.select(dataframe.columns[1]).show()

+------------+
|student NAME|
+------------+
|      sravan|
|      ojaswi|
|      rohith|
|     sridevi|
|      sravan|
|     gnanesh|
+------------+

In [30]:
# prompt: select column all in  df

dataframe.select(*dataframe.columns).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [31]:
# select column with column number slice
# operator
dataframe.select(dataframe.columns[0:3]).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", rtrim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using select to remove white spaces
df = df.select(col("col1"), trim(col("col2")).alias("col2"))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [34]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim

# Create a Spark session if one does not exist
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.show()


# using withColumn and trim()
df.withColumn("col2", trim("col2")).show()

# using ltrim()
df.withColumn("col2", ltrim("col2")).show()

# using rtrim()
df.withColumn("col2", rtrim("col2")).show()

# Using select
df.select("col1", trim("col2").alias('col2')).show()

# Using SQL Expression
df.createOrReplaceTempView("TAB")
spark.sql("select col1,trim(col2) as col2 from TAB").show()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+-------+
|col1|   col2|
+----+-------+
|   1|ABC    |
|   2|    DEF|
|   3|GHI    |
+----+-------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [35]:
# importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Substring.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):

    df1 = spark.createDataFrame(data, schema)
    return df1

if __name__ == "__main__":

    input_data = [("India", +91, 2701, 2020),
                  ("United States of America", +1, 1301, 2020),
                  ("Israel", +972, 3102, 2020),
                  ("Dubai", +971, 2901, 2020),
                  ("Russia", 7, 3101, 2020)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code",
              "Data", "Year"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)
    df.show()

+--------------------+------------+----+----+
|             Country|Country Code|Data|Year|
+--------------------+------------+----+----+
|               India|          91|2701|2020|
|United States of ...|           1|1301|2020|
|              Israel|         972|3102|2020|
|               Dubai|         971|2901|2020|
|              Russia|           7|3101|2020|
+--------------------+------------+----+----+

In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", trim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [37]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import to_timestamp, current_timestamp
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

schema = StructType([
            StructField("seq", StringType(), True)])

# The data should be a list of rows, where each row is a list or tuple
dates = [['1']] # Changed from ['1']

df = spark.createDataFrame(dates, schema=schema)

df.show()  # Display the DataFrame content

+---+
|seq|
+---+
|  1|
+---+

In [38]:
%pip install pandas
%pip install pyarrow 

import pandas as pd    
data = [['Scott', 50], ['Jeff', 45], ['Thomas', 54],['Ann',34]] 

# Create the pandas DataFrame 
pandasDF = pd.DataFrame(data, columns = ['Name', 'Age']) 

# print dataframe. 
print(pandasDF)

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()

sparkDF=spark.createDataFrame(pandasDF) 
sparkDF.printSchema()
sparkDF.show()

#sparkDF=spark.createDataFrame(pandasDF.astype(str)) 
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
mySchema = StructType([ StructField("First Name", StringType(), True)\
                       ,StructField("Age", IntegerType(), True)])

sparkDF2 = spark.createDataFrame(pandasDF,schema=mySchema)
sparkDF2.printSchema()
sparkDF2.show()


spark.conf.set("spark.sql.execution.arrow.enabled","true")
spark.conf.set("spark.sql.execution.arrow.pyspark.fallback.enabled","true")

pandasDF2=sparkDF2.select("*").toPandas
print(pandasDF2)


test=spark.conf.get("spark.sql.execution.arrow.enabled")
print(test)

test123=spark.conf.get("spark.sql.execution.arrow.pyspark.fallback.enabled")
print(test123)

Requirement already satisfied: pandas in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ajitj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ajitj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (20.0.0)
Note: you may need to restart the kernel to use updated packages.
     Name  Age
0   Scott   50
1    Jeff   45
2  Thomas   54
3     Ann   34
root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

+------+---+
|  Name|Age|
+------+---+
| Scott| 50|
|  Jeff| 45|
|Thomas| 54|
|   Ann| 34|
+------+---+

root
 |-- First Name: string (nullable = true)
 |-- Age: integer (nullable = true)

+----------+---+
|First Name|Age|
+----------+---+
|     Scott| 50|
|      Jeff| 45|
|    Thomas| 54|
|       Ann| 34|
+----------+---+

<bound method PandasConversionMixin.toPandas of DataFrame[First Name: string, Age: int]>
true
true

In [39]:
from pyspark.sql import SparkSession
 
from pyspark.sql.functions import current_date,year
 
from pyspark.sql.types import IntegerType,StructType,StructField,StringType
 
from datetime import datetime, date
 
from pyspark import SparkContext
 
sc=SparkContext.getOrCreate()
 
rdd=sc.parallelize([('ram','chi'),
 
             ('anil','ind')])
 
df=spark.createDataFrame(rdd,schema=StructType([StructField("name",StringType(),True),StructField("loc",StringType(),True)]))
 
 
 
#Trying to see the data but face below error:
 
df.show()

+----+---+
|name|loc|
+----+---+
| ram|chi|
|anil|ind|
+----+---+

In [40]:

from pyspark.sql import SparkSession

from pyspark.sql.functions import current_date,year

from pyspark.sql.types import IntegerType,StructType,StructField,StringType

from datetime import datetime, date

from pyspark import SparkContext
 
sc=SparkContext.getOrCreate()
 
rdd=sc.parallelize([('ram','chi'),
 
             ('anil','ind')])
 
df=spark.createDataFrame(rdd,schema=StructType([StructField("name",StringType(),True),StructField("loc",StringType(),True)]))
 
 
 
#Trying to see the data but face below error:
 
df.show()

+----+---+
|name|loc|
+----+---+
| ram|chi|
|anil|ind|
+----+---+

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", rtrim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

How to Get substring from a column in PySpark Dataframe ?

We can get the substring of the column using substring() and substr() function.


Syntax: substring(str,pos,len)


df.col_name.substr(start, length)


Parameter:


str - It can be string or name of the column from which we are getting the substring.
start and pos - Through this parameter we can give the starting position from where substring is start.
length and len - It is the length of the substring from the starting position.

In [4]:
# importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Substring.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):

    df1 = spark.createDataFrame(data, schema)
    return df1

if __name__ == "__main__":

    input_data = [("India", +91, 2701, 2020),
                  ("United States of America", +1, 1301, 2020),
                  ("Israel", +972, 3102, 2020),
                  ("Dubai", +971, 2901, 2020),
                  ("Russia", 7, 3101, 2020)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code",
              "Data", "Year"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)
    df.show()

+--------------------+------------+----+----+
|             Country|Country Code|Data|Year|
+--------------------+------------+----+----+
|               India|          91|2701|2020|
|United States of ...|           1|1301|2020|
|              Israel|         972|3102|2020|
|               Dubai|         971|2901|2020|
|              Russia|           7|3101|2020|
+--------------------+------------+----+----+

In [5]:
if __name__ == "__main__":
  
    # creating Month column and get the
    # substring from the Data column
    # creating Date column and get the
    # substring from the Data column
    df = df.withColumn(
      "Month", substring("Data", 1, 2)).withColumn(
      "Date", substring("Data", 3, 4))

    # dropping the Data column from the
    # Dataframe
    df = df.drop("Data")

    # printing Dataframe schema to get the
    # column names
    df.printSchema()

    # visualizing the dataframe
    df.show(truncate=False)

root
 |-- Country: string (nullable = true)
 |-- Country Code: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: string (nullable = true)
 |-- Date: string (nullable = true)

+------------------------+------------+----+-----+----+
|Country                 |Country Code|Year|Month|Date|
+------------------------+------------+----+-----+----+
|India                   |91          |2020|27   |01  |
|United States of America|1           |2020|13   |01  |
|Israel                  |972         |2020|31   |02  |
|Dubai                   |971         |2020|29   |01  |
|Russia                  |7           |2020|31   |01  |
+------------------------+------------+----+-----+----+

In [6]:
if __name__ == "__main__":

    # Creating the new column New_Country
    # and store the substring using substr()
    df = df.withColumn("New_Country", df.Country.substr(0, 12))

    # printing Dataframe schema to get the
    # column names
    df.printSchema()

    # visualizing the dataframe
    df.show(truncate=False)

root
 |-- Country: string (nullable = true)
 |-- Country Code: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- New_Country: string (nullable = true)

+------------------------+------------+----+-----+----+------------+
|Country                 |Country Code|Year|Month|Date|New_Country |
+------------------------+------------+----+-----+----+------------+
|India                   |91          |2020|27   |01  |India       |
|United States of America|1           |2020|13   |01  |United State|
|Israel                  |972         |2020|31   |02  |Israel      |
|Dubai                   |971         |2020|29   |01  |Dubai       |
|Russia                  |7           |2020|31   |01  |Russia      |
+------------------------+------------+----+-----+----+------------+

In [7]:
if __name__ == "__main__":

    input_data = [("India", +91, "AidanButler"),
                  ("United States of America", +1, "ConerFlores"),
                  ("Israel", +972, "RosseBryant"),
                  ("Dubai", +971, "JuliaSimmon"),
                  ("Russia", 7, "AliceBailey")]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code", "Name"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)

    # Selecting the column using select()
    # function and getting substring
    # using substring()
    df2 = df.select('Name', substring('Name',
                                      1, 5).alias('First Name'),
                    substring('Name', 6, 6).alias('Last Name'))

    # printing Dataframe schema to get the column names
    df2.printSchema()

    # visualizing the dataframe
    df2.show(truncate=False)

root
 |-- Name: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)

+-----------+----------+---------+
|Name       |First Name|Last Name|
+-----------+----------+---------+
|AidanButler|Aidan     |Butler   |
|ConerFlores|Coner     |Flores   |
|RosseBryant|Rosse     |Bryant   |
|JuliaSimmon|Julia     |Simmon   |
|AliceBailey|Alice     |Bailey   |
+-----------+----------+---------+

In [8]:
if __name__ == "__main__":

    input_data = [("India", +91, "AidanButler"),
                  ("United States of America", +1, "ConerFlores"),
                  ("Israel", +972, "RosseBryant"),
                  ("Dubai", +971, "JuliaSimmon"),
                  ("Russia", 7, "AliceBailey")]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code", "Name"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)

    # Selecting the column using selectExpr()
    # function and getting substring using substring()
    df2 = df.selectExpr('Name', 'substring(Name, 1,5) as First_Name',
                        'substring(Name, 6,6) as Last_Name')

    # printing Dataframe schema to get the column names
    df2.printSchema()

    # visualizing the dataframe
    df2.show(truncate=False)

root
 |-- Name: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)

+-----------+----------+---------+
|Name       |First_Name|Last_Name|
+-----------+----------+---------+
|AidanButler|Aidan     |Butler   |
|ConerFlores|Coner     |Flores   |
|RosseBryant|Rosse     |Bryant   |
|JuliaSimmon|Julia     |Simmon   |
|AliceBailey|Alice     |Bailey   |
+-----------+----------+---------+

Pivot String column on Pyspark Dataframe

Pivoting in data analysis refers to the transformation of data from a long format to a wide format by rotating rows into columns. In PySpark, pivoting is used to restructure DataFrames by turning unique values from a specific column (often categorical) into new columns, with the option to aggregate values based on another column. This transformation is particularly useful for summarizing and analyzing data, allowing us to easily compare and analyze distinct attributes.

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

# Initialize Spark session
spark = SparkSession.builder.appName("PivotExample").getOrCreate()

# Sample data
data = [
    ('2024-01-01', 'ProductA', 10),
    ('2024-01-01', 'ProductB', 20),
    ('2024-01-02', 'ProductA', 30),
    ('2024-01-02', 'ProductB', 40),
]

# Create DataFrame
df = spark.createDataFrame(data, ['date', 'product', 'sales'])

df.show()

# Pivot DataFrame
pivot_df = df.groupBy('date').pivot('product').agg(sum('sales'))

print("Dataframe after Pivot Operation")
pivot_df.show()

+----------+--------+-----+
|      date| product|sales|
+----------+--------+-----+
|2024-01-01|ProductA|   10|
|2024-01-01|ProductB|   20|
|2024-01-02|ProductA|   30|
|2024-01-02|ProductB|   40|
+----------+--------+-----+

Dataframe after Pivot Operation
+----------+--------+--------+
|      date|ProductA|ProductB|
+----------+--------+--------+
|2024-01-02|      30|      40|
|2024-01-01|      10|      20|
+----------+--------+--------+

In [10]:
# importing necessary libraries
from pyspark.sql import SparkSession


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Product_details.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):
    df1 = spark.createDataFrame(data, schema)
    return df1


if __name__ == "__main__":

    input_data = [("Uttar Pradesh", 122000, 89600, 12238),
                  ("Maharashtra", 454000, 380000, 67985),
                  ("Tamil Nadu", 115000, 102000, 13933),
                  ("Karnataka", 147000, 111000, 15306),
                  ("Kerala", 153000, 124000, 5259)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["State", "Cases", "Recovered", "Deaths"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)

    # visualizing the dataframe
    df.show()

+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [11]:
# getting the list of column names 
col = df.columns

# printing
print(f'List of column names: {col}')

# visualizing the dataframe 
df.show()

List of column names: ['State', 'Cases', 'Recovered', 'Deaths']
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [12]:
# getting the list of StructFields
field = df.schema.fields

# using for loop to iterate and enumerate
# for indexing or numbering
for count, col_name in enumerate(field, 1):
  
    # printing the column names
    print(count, "-", col_name.name)

    # visualizing the dataframe
    df.show()

1 - State
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

2 - Cases
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

3 - Recovered
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

4 - Deaths
+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [13]:
# printing Dataframe schema to
# get the column names
df.printSchema()

# visualizing the dataframe 
df.show()

root
 |-- State: string (nullable = true)
 |-- Cases: long (nullable = true)
 |-- Recovered: long (nullable = true)
 |-- Deaths: long (nullable = true)

+-------------+------+---------+------+
|        State| Cases|Recovered|Deaths|
+-------------+------+---------+------+
|Uttar Pradesh|122000|    89600| 12238|
|  Maharashtra|454000|   380000| 67985|
|   Tamil Nadu|115000|   102000| 13933|
|    Karnataka|147000|   111000| 15306|
|       Kerala|153000|   124000|  5259|
+-------------+------+---------+------+

In [14]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of employee data with 10 row values
data =[["1","sravan","IT",45000],
       ["2","ojaswi","IT",30000],
       ["3","bobby","business",45000],
       ["4","rohith","IT",45000],
       ["5","gnanesh","business",120000],
       ["6","siva nagulu","sales",23000],
       ["7","bhanu","sales",34000],
       ["8","sireesha","business",456798],
       ["9","ravi","IT",230000],
       ["10","devi","business",100000],
       ]

# specify column names
columns=['ID','NAME','sector','salary']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data,columns)

# display dataframe
dataframe.show()

+---+-----------+--------+------+
| ID|       NAME|  sector|salary|
+---+-----------+--------+------+
|  1|     sravan|      IT| 45000|
|  2|     ojaswi|      IT| 30000|
|  3|      bobby|business| 45000|
|  4|     rohith|      IT| 45000|
|  5|    gnanesh|business|120000|
|  6|siva nagulu|   sales| 23000|
|  7|      bhanu|   sales| 34000|
|  8|   sireesha|business|456798|
|  9|       ravi|      IT|230000|
| 10|       devi|business|100000|
+---+-----------+--------+------+

In [15]:
# importing sum function
from pyspark.sql.functions import sum

# group the salary among different sectors
# and name  as Employee_salary by sum aggregation
dataframe.groupBy(
  "sector").agg(sum("salary").alias("Employee_salary")).show()

+--------+---------------+
|  sector|Employee_salary|
+--------+---------------+
|   sales|          57000|
|      IT|         350000|
|business|         721798|
+--------+---------------+