In [24]:
%pip install findspark

Requirement already satisfied: findspark in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
import findspark
findspark.init()  # Automatically sets SPARK_HOME and initializes PySpark

from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

# Verify the SparkContext
sc = spark.sparkContext
print(sc.version)  # Should print the Spark version

3.5.6

In [26]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [["1", "sravan", "vignan"], ["2", "ojaswi", "vvit"],
        ["3", "rohith", "vvit"], ["4", "sridevi", "vignan"],
        ["1", "sravan", "vignan"], ["5", "gnanesh", "iit"]]

# specify column names
columns = ['student ID', 'student NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

print("Actual data in dataframe")
# show dataframe
dataframe.show()

Actual data in dataframe
+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [27]:
# select column with column name
dataframe.select('student ID').show()

+----------+
|student ID|
+----------+
|         1|
|         2|
|         3|
|         4|
|         1|
|         5|
+----------+

In [28]:
# select multiple column with column name
dataframe.select(['student ID', 'student NAME', 'college']).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [29]:
# select column with column number 1
dataframe.select(dataframe.columns[1]).show()

+------------+
|student NAME|
+------------+
|      sravan|
|      ojaswi|
|      rohith|
|     sridevi|
|      sravan|
|     gnanesh|
+------------+

In [30]:
# prompt: select column all in  df

dataframe.select(*dataframe.columns).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [31]:
# select column with column number slice
# operator
dataframe.select(dataframe.columns[0:3]).show()

+----------+------------+-------+
|student ID|student NAME|college|
+----------+------------+-------+
|         1|      sravan| vignan|
|         2|      ojaswi|   vvit|
|         3|      rohith|   vvit|
|         4|     sridevi| vignan|
|         1|      sravan| vignan|
|         5|     gnanesh|    iit|
+----------+------------+-------+

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", rtrim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using select to remove white spaces
df = df.select(col("col1"), trim(col("col2")).alias("col2"))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [34]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim

# Create a Spark session if one does not exist
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.show()


# using withColumn and trim()
df.withColumn("col2", trim("col2")).show()

# using ltrim()
df.withColumn("col2", ltrim("col2")).show()

# using rtrim()
df.withColumn("col2", rtrim("col2")).show()

# Using select
df.select("col1", trim("col2").alias('col2')).show()

# Using SQL Expression
df.createOrReplaceTempView("TAB")
spark.sql("select col1,trim(col2) as col2 from TAB").show()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+-------+
|col1|   col2|
+----+-------+
|   1|ABC    |
|   2|    DEF|
|   3|GHI    |
+----+-------+

+----+-----------+
|col1|       col2|
+----+-----------+
|   1|        ABC|
|   2|        DEF|
|   3|        GHI|
+----+-----------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [35]:
# importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring


# function to create new SparkSession
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Substring.com") \
        .getOrCreate()
    return spk

def create_df(spark, data, schema):

    df1 = spark.createDataFrame(data, schema)
    return df1

if __name__ == "__main__":

    input_data = [("India", +91, 2701, 2020),
                  ("United States of America", +1, 1301, 2020),
                  ("Israel", +972, 3102, 2020),
                  ("Dubai", +971, 2901, 2020),
                  ("Russia", 7, 3101, 2020)]

    # calling function to create SparkSession
    spark = create_session()

    schema = ["Country", "Country Code",
              "Data", "Year"]

    # calling function to create dataframe
    df = create_df(spark, input_data, schema)
    df.show()

+--------------------+------------+----+----+
|             Country|Country Code|Data|Year|
+--------------------+------------+----+----+
|               India|          91|2701|2020|
|United States of ...|           1|1301|2020|
|              Israel|         972|3102|2020|
|               Dubai|         971|2901|2020|
|              Russia|           7|3101|2020|
+--------------------+------------+----+----+

In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, ltrim, rtrim, col

# Create a Spark session
spark = SparkSession.builder.appName("WhiteSpaceRemoval").getOrCreate()

# Define your data
data = [(1, "ABC    "), (2, "     DEF"), (3, "        GHI    ")]

# Create a DataFrame
df = spark.createDataFrame(data, ["col1", "col2"])

# Show the initial DataFrame
df.show()

# Using withColumn to remove white spaces
df = df.withColumn("col2", trim(col("col2")))
df.show()

# Stop the Spark session
spark.stop()

+----+---------------+
|col1|           col2|
+----+---------------+
|   1|        ABC    |
|   2|            DEF|
|   3|        GHI    |
+----+---------------+

+----+----+
|col1|col2|
+----+----+
|   1| ABC|
|   2| DEF|
|   3| GHI|
+----+----+

In [37]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import to_timestamp, current_timestamp
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

schema = StructType([
            StructField("seq", StringType(), True)])

# The data should be a list of rows, where each row is a list or tuple
dates = [['1']] # Changed from ['1']

df = spark.createDataFrame(dates, schema=schema)

df.show()  # Display the DataFrame content

+---+
|seq|
+---+
|  1|
+---+

In [38]:
%pip install pandas
%pip install pyarrow 

import pandas as pd    
data = [['Scott', 50], ['Jeff', 45], ['Thomas', 54],['Ann',34]] 

# Create the pandas DataFrame 
pandasDF = pd.DataFrame(data, columns = ['Name', 'Age']) 

# print dataframe. 
print(pandasDF)

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()

sparkDF=spark.createDataFrame(pandasDF) 
sparkDF.printSchema()
sparkDF.show()

#sparkDF=spark.createDataFrame(pandasDF.astype(str)) 
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
mySchema = StructType([ StructField("First Name", StringType(), True)\
                       ,StructField("Age", IntegerType(), True)])

sparkDF2 = spark.createDataFrame(pandasDF,schema=mySchema)
sparkDF2.printSchema()
sparkDF2.show()


spark.conf.set("spark.sql.execution.arrow.enabled","true")
spark.conf.set("spark.sql.execution.arrow.pyspark.fallback.enabled","true")

pandasDF2=sparkDF2.select("*").toPandas
print(pandasDF2)


test=spark.conf.get("spark.sql.execution.arrow.enabled")
print(test)

test123=spark.conf.get("spark.sql.execution.arrow.pyspark.fallback.enabled")
print(test123)

Requirement already satisfied: pandas in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ajitj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ajitj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\ajitj\appdata\local\programs\python\python311\lib\site-packages (20.0.0)
Note: you may need to restart the kernel to use updated packages.
     Name  Age
0   Scott   50
1    Jeff   45
2  Thomas   54
3     Ann   34
root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

+------+---+
|  Name|Age|
+------+---+
| Scott| 50|
|  Jeff| 45|
|Thomas| 54|
|   Ann| 34|
+------+---+

root
 |-- First Name: string (nullable = true)
 |-- Age: integer (nullable = true)

+----------+---+
|First Name|Age|
+----------+---+
|     Scott| 50|
|      Jeff| 45|
|    Thomas| 54|
|       Ann| 34|
+----------+---+

<bound method PandasConversionMixin.toPandas of DataFrame[First Name: string, Age: int]>
true
true

In [39]:
from pyspark.sql import SparkSession
 
from pyspark.sql.functions import current_date,year
 
from pyspark.sql.types import IntegerType,StructType,StructField,StringType
 
from datetime import datetime, date
 
from pyspark import SparkContext
 
sc=SparkContext.getOrCreate()
 
rdd=sc.parallelize([('ram','chi'),
 
             ('anil','ind')])
 
df=spark.createDataFrame(rdd,schema=StructType([StructField("name",StringType(),True),StructField("loc",StringType(),True)]))
 
 
 
#Trying to see the data but face below error:
 
df.show()

+----+---+
|name|loc|
+----+---+
| ram|chi|
|anil|ind|
+----+---+

In [ ]:

from pyspark.sql import SparkSession

from pyspark.sql.functions import current_date,year

from pyspark.sql.types import IntegerType,StructType,StructField,StringType

from datetime import datetime, date

from pyspark import SparkContext
 
sc=SparkContext.getOrCreate()
 
rdd=sc.parallelize([('ram','chi'),
 
             ('anil','ind')])
 
df=spark.createDataFrame(rdd,schema=StructType([StructField("name",StringType(),True),StructField("loc",StringType(),True)]))
 
 
 
#Trying to see the data but face below error:
 
df.show()

+----+---+
|name|loc|
+----+---+
| ram|chi|
|anil|ind|
+----+---+